body {
    margin: 0;
    background: #3ea1cb;
    overflow: hidden;
}

.road {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #555;
}

.car {
    position: absolute;
    left: 0;
    bottom: 110px;
    width: 365px;
    height: 185px;
}

.controls {
    position: absolute;
    top: 10px;
    left: 10px;
}

.controls button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.cloud {
    position: absolute;
    top: 300px;
    width: 120px;
    height: 60px;
    background: white;
    border-radius: 50%;
    box-shadow: 20px 10px 0 white, 40px -10px 0 white, 60px 10px 0 white;
    opacity: 0.8;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: Cursive;
}
